
<p>
  <% Line.select {|line| line.corpse_id == @corpse.id}.sort_by {|lin| lin.count}.each do |li| %>
    <% case li.count %>
      <% when 1 %>
        <span style="color: #1100ff"><%= li.text %></span>
      <% when 2 %>
        <span style="color: #220022"><%= li.text %></span>
      <% when 3 %>
        <span style="color: #cc3300"><%= li.text %></span>
      <% when 4 %>
        <span style="color: #4400ff"><%= li.text %></span>
      <% when 5 %>
        <span style="color: #550055"><%= li.text %></span>
      <% when 6 %>
        <span style="color: #cc6600"><%= li.text %></span>
      <% when 7 %>
        <span style="color: #7700ff"><%= li.text %></span>
      <% when 8 %>
        <span style="color: #880088"><%= li.text %></span>
      <% else %>
        <span style="color: #111"><%= li.text %></span>
    <% end %>
  <% end %>
</p>
