<div class="container">
  <%= form_for(@corpse, :html => {:class => "form-horizontal"}) do |f| %>
    <% if @corpse.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> stopped this corpse from going forward:</h2>
        <ul>
         <% @corpse.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
        </ul>
       </div>
    <% end %>

    <div class="container">
      <div class="form-group">
        <div class="col-sm-3">
          <%= f.collection_select(:style_id, Style.all, :id, :name, {:include_blank => true}) %>
        </div>
      </div>
    </div>

    <% if @corpse.counter == 1 %>
      <div class="container">
        <p>Write the first line. Make it between 10-20 words. The next writer will only see the last 5 words you write.</p>
          <div class="form-group">
            <%= f.fields_for :lines, Line.new do |line| %>
              <%= line.label :text, class: "control-label" %>
              <%= line.text_field :text, class: "form-control" %>
              <% line.hidden_field :count, :value => @corpse.counter %>
              <% line.hidden_field :auth_id, :value => current_user.id %>
            <% end %>
          </div>

      </div>
    <%end%>


    <div class="container">
      <div class="form-group">
        <div class="col-sm-1">
          <%= f.submit "Submit", class: "btn btn-default" %>
        </div>
      </div> <!-- form-group-->
    </div>
  <% end %>
