<div class="flex-container headsup">
  Hey there, <%= @player.username %>.
</div><br><!--headsup-->

<div class="flex-container goudy">
    <div class="col" style="align-self: flex-start; flex-basis: 25%">
      <p>Your skills as a poet and a writer have never been more in need. There are these things called "Payams" that are floating about, needing words to give them life.</p>
    </div>

    <div class="col" style="align-self: center; flex-basis: 25%">
      <p>You might even want to start a <%= link_to "new Payam", new_corpse_path %> and see for yourself.</p>
    </div>

    <div class="col" style="align-self: flex-end; flex-basis: 25%">
      <% if @player.corpses.empty? %>
        <p>Keep your eyes open here for any Payams you need to work on and any of yours that have made their journey through seven more authors</p>
      <% else %>
        <% @player.corpses.uniq.each do |c| %>
          <p><%= link_to "#{c.title}", corpse_path(c) %>  <%=link_to "delete", c, method: :delete, data: { confirm: "You sure?" } %><p>
        <% end %>
        <br>
        <% @player.waiting.each do |corpse| %>
          <p>There is a payam called "<%=corpse.title%>" and it is <%= link_to "ready for line #{corpse.counter}.", edit_corpse_path(corpse) %>.</p>
        <% end %>
      <% end %>
    </div>
  </div><!--row-->
</div><!--container-->
