<div class="container headsup">
  Dear <%= @player.username %>,
</div><br><!--headsup-->

<div class="container goudy" style="border-bottom: solid 1px; padding-bottom: 25px">
  <div class="container" style="border-bottom: 1px solid; padding-bottom: 20px">
    <p>Your skills as a poet and a writer have never been more in need. There are these things called "Payams" that are floating about, needing words to give them life.</p>
    <h3>Start a <%= link_to "new Payam", new_corpse_path %> and see for yourself.</h3>
  </div>
  <div class="flex-container" style="justify-content: space-around">
    <div style="flex-basis: 60%; padding-top: 20px">
    <% if @player.corpses.completed.empty? %>
      <p>Keep your eyes open here for any Payams you need to work on and any of yours that have made their journey through seven more authors</p>
    <% else %>
      <h2 style="border-bottom: solid 1px; padding-bottom: 15px">These are the completed payams that you worked on:</h2><br>
      <% @player.corpses.completed.uniq.each do |c| %>
        <div class="flex-container" style="justify-content: space-between">
          <p style="font-size: 32px"><%= link_to "\"#{c.title}\"", corpse_path(c) %></p>
          <p style="font-size: 32px"><em><%=link_to "Delete", c, method: :delete, data: { confirm: "You sure?" } %></em></p>
        </div><!--flex-container-->
        <% end %>
      <% end %>
      <br>
      <% if !@player.waiting.empty? %>
        <h2 style="border-top: 1px solid; border-bottom: 1px solid; padding: 15px 0 15px 0">These payams need your help:</h2>
        <% @player.waiting.each do |corpse| %>
          <h3>"<%=corpse.title%>" is in the <%=corpse.style.name%> style and it is <%= link_to "ready for line #{corpse.counter}", edit_corpse_path(corpse) %></h3>
        <% end %>
      <% end %>
    </div>
  </div><!--flex-container-->
</div><!--container-->
<br>
<div class="container goudy" style="padding-bottom: 20px">
  <div class="container">
    <p>I thank you in advance for your help. My hope is that through your work and contributions we can all learn something.</p>
    <p>And I saw the decompose button. I pressed it. All things change and all things fade away I guess.<p>
  </div>
</div>
<div class="container headsup">
  Yours Truly,<br>
  Payam
</div>
