<p>Hey there, <%= @player.username %>.</p>

<p><%= link_to "New Payam", new_corpse_path %></p>

<% @player.corpses.uniq.each do |c| %>
  <%= link_to "#{c.title}", corpse_path(c) %>  <%=link_to "delete", c, method: :delete, data: { confirm: "You sure?" } %><br>
<% end %>
<br>

<% @player.waiting.each do |corpse| %>
<p>There is a payam called "<%=corpse.title%>" and it is <%= link_to "ready for line #{corpse.counter}.", edit_corpse_path(corpse) %>.</p>
<% end %>
